<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="5 seconds" >

        <property name="LOGS_HOME" value="task-planner/logs/" />

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <Pattern>
                                {"dateTime" : "%d", "host":"%X{Host}", "txnIdentifier":"%X{txnId}", "serviceName":"%X{serviceName}", "executionTime":"%X{executionTime}","threadId":"%t","sessionId":"","channelName":"%X{channelName}","remoteHost":"%X{RemoteAddr}","errorCode":"%X{ErrorCode}","errorMsg":"%X{ErrorMsg}","environment":"%X{Env}","component":"%X{Component}","request":"%X{Request}","response":"%X{Response}","keyInfo":"{message:%m }"}%n
                                </Pattern>
                </encoder>
        </appender>

        <appender name="FILE"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS_HOME}application.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                                <Pattern>
                                {"dateTime" : "%d", "host":"%X{Host}", "txnIdentifier":"%X{txnId}", "serviceName":"%X{serviceName}", "executionTime":"%X{executionTime}","threadId":"%t","sessionId":"","channelName":"%X{channelName}","remoteHost":"%X{RemoteAddr}","errorCode":"%X{ErrorCode}","errorMsg":"%X{ErrorMsg}","environment":"%X{Env}","component":"%X{Component}","request":"%X{Request}","response":"%X{Response}","keyInfo":"{message:%m }"}%n
                                        </Pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <!-- rollover daily -->
                        <fileNamePattern>${LOGS_HOME}application-%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
                        <timeBasedFileNamingAndTriggeringPolicy
                                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                                <maxFileSize>100MB</maxFileSize>
                        </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
        </appender>

        <appender name="FILE-TIMINGS"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS_HOME}timings.log</file>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <Pattern>
                                %d [%24F:%t:%L] - %m%n
                        </Pattern>
                </encoder>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                        <!-- rollover daily -->
                        <fileNamePattern>${LOGS_HOME}timings-%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
                        <timeBasedFileNamingAndTriggeringPolicy
                                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                                <maxFileSize>10MB</maxFileSize>
                        </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
        </appender>

  <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
    <syslogHost>184.73.75.23</syslogHost>
        <port>25826</port>
    <facility>LOCAL1</facility>
    <suffixPattern>[%thread] %logger %msg</suffixPattern>
  </appender>

        <root level="INFO">
                <appender-ref ref="FILE" />
                <appender-ref ref="STDOUT" />
                <appender-ref ref="SYSLOG" />
        </root>

</configuration>
